*{
  padding: 0;
  margin: 0;
}

html, body{
  height: 100%;
  display: flex;
  flex-direction: column;
}

html{
  margin: 0;
}

body > * {
  flex-shrink: 0;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;


}
.top{
  display: block;
  width: 100%;
  overflow: hidden;
  vertical-align: middle;
  background-color: #f0f0f0;
  border-bottom: 5px solid black;
}

header{
  font-family: 'Noto Sans JP', sans-serif;
  overflow: hidden;
  float: left;
  display: block;
  width: 30%;
}

header img{
  width: 100%;
}

.center{
  padding: 70px 0;
  /* border: 3px solid green; */
  text-align: center;
}
.nav{
  overflow: hidden;
  /* margin: 1%; */
  /* border: 1px solid red; */
}

.nav ul{
  list-style-type: none;
}

.nav a{
  text-decoration: none;
  color: black;
}

.nav li{
  float: left;
  background-color: #4e078c;
  color: white;
  font-size: 30px;
  width: 22%;
  margin-left: 10px;
  height: 40px;
  vertical-align: middle;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  padding-top: 2%;
  padding-bottom: 2%;
}

.nav li:hover{
  background-color: white;
  color: black;
}

.main{
  font-family: 'Inter', sans-serif;
  display: block;
  overflow: hidden;
  /* text-align: center; */
  background: url("data/graphics/background_image.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;
  flex-grow: 1;
  padding-left: 10%;
  padding-right: 10%;
}

.index_subtitle{
  font-size: 100px;
  font-style: italic;
  color: rgba(255,255,255,0.7);
}

.index_text{
  font-size: 20px;
  /* color: rgba(255,255,255,1); */
  color: black;
  line-height: 150%;
  font-weight: 1000;
  margin-bottom: 20px;
}

#weAre_text{
  padding-left: 20%;
  text-align: right;
  /* padding-bottom: 5%; */
  color: black;

  /* border-bottom: 1px solid white; */
}

#{
  text-align: right;
}

#_text{
  color: black;
  /* padding-bottom: 5%; */
  /* border-bottom: 1px solid white; */
}

.actButtonLink{
  text-decoration: none;
}

.actButton{
  float: right;
  color: black;
  background-color: white;
  border: 2px solid black;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
}

.actButton:hover{
  background-color: black;
  color: white;
}

.index_subsubtitle{
  font-size: 35px;
  text-align: center;
  /* color: white; */
  color: black;
  font-weight: bolder;
  margin-bottom: 10px;
}

footer{
  display: block;
  /* width: 100%; */
  background-color: #f0f0f0;
  border-top: 5px solid black;
  color: black;
  padding-left: 5%;
  padding-right: 5%;
}

.socialMedia_logos{
  float: left;
  width: 20%;
}

.footer_info{
  padding-top: 2%;
  float: left;
  width: 80%;
  text-align: right;
  line-height: 200%;
}

/* act page */

.act_subheader{
  margin-top: 2%;
  margin-bottom: 2%;
  display: block;
}

.act_subheader h2{
  color: white;
  font-weight: bold;
  font-size: 30px;
  line-height: 150%;
  margin-bottom: 2%;

}

.act_subheader p{
  color: black;
  line-height: 150%;
}

.act_subtitle{
  color: white;
  font-size: 80px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.act_section{
  display: block;
  width: 100%;
  margin-bottom: 5%;
  /* border: 1px solid black; */
  overflow: hidden;
}

.act_section h3{
  color: white;
  font-weight: bold;
  margin-bottom: 2%;
  font-size: 25px;
}

.act_section h4{
  color: white;
  margin-bottom: 2%;
  font-size: 20px;
  line-height: 150%;
}

.act_section p{
  line-height: 150%;
  color: black;
}
.find_left{
  float: left;
  width: 40%;
}
.find_right{
  float: right;
  width: 50%;
}

.act_findFrame{
  width: 100%;
  height:300px;
}

.actScript{
  margin: 5%;
  padding: 2%;
  border: 5px solid black;
  background-color: white;
}

.actScript p{
  margin-bottom: 2%;
}

/* about page */

.about_introText{
  font-size: 50px;
}

.about_main{
  /* background-color: white; */
  /* background-image: none; */
  z-index: 1000;
  padding-top: 2%;
  padding-bottom: 2%;
}

.about_section{
  overflow: hidden;
  margin-bottom: 4%;
}

.about_section h2{
  font-size: 50px;
}

.about_section p{
  line-height: 150%;
}

.aboutSection2{
  border-top: 0.5px solid grey;
  padding-top: 2%;
}

.aboutSect_header{
  text-align: center;
  width: auto;
  display: block;
  /* border: 1px solid red; */
  overflow: hidden;
  margin: 2%;
}

#aboutSect1Head{
  color: white;
  background-color: orange;
  width: 40%;
  float: right;
  padding: 2%;
}

.aboutSect1_body{
  width: auto;
  overflow: hidden;
  display: block;
  /* text-align: center; */
  /* border: 1px solid black; */
}

.aboutSect1_text{
  border: 2px solid orange;
  background-color: #f4ce99;
  font-weight: bold;
  width: 50%;
  float: left;
  text-indent: 20px;
  padding: 2%;
}

.aboutSect1_links{
  width: 39.5%;
  float: left;
  text-align: center;
}

.aboutSect1_links a{
  /* border: 1px solid black; */
  padding-top: 10%;
  overflow: hidden;
  text-decoration: none;

}

.aboutSect1_links p{
  margin-top: 8%;
  margin-left: 25%;
  margin-right: 25%;
  border: 2px solid orange;
  width: 55%;
  font-size: 20px;
  color: #f4ce99;
  background-color: black;
}

.aboutSect1_links p:hover{
  color: black;
  background-color: white;
}

#aboutSect2_header{
  font-size: 80px;
  width: 100%;
  color: #61a7d4;
  border-bottom: 1px solid #61a7d4;

}

.aboutSection2 h3{
  background-color: #61a7d4;
  color: white;
  font-size: 30px;
  padding: 5px;
  border-radius: 5px;
  width: 63%;
  margin-bottom: 2%;
  border: 1px solid black;
}

.aboutSection2 p{

  margin: 1%;
  text-align: left;
  float: right;
  width: 60%;
  padding: 20px;
}

.text_border{
  border: 1px solid black;
  border-radius: 10px;
  font-weight: bold;
}


.aboutSection2 a p{
  display: block;
  text-align: center;
  margin-top: 0px;
  border: 1px solid black;
  width: 9%;
  text-decoration: none;
  color: white;
  background-color: black;
}

.aboutSection2 a p:hover{
  color: black;
  background-color: white;
}

.inline_link{
  float: right;
  display: block;
  width: 100%;
  /* border: 1px solid black; */
  overflow: hidden;
}

#para1{
  background-color: #77b2b2;
}



#para2{
  background-color: #ab96c3;
}

.aboutSection3{
  background-color: #f9e6cb;
  width: 80%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 2%;
}

.aboutSection3 ul{
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 3%;
}

.aboutSection3 li{
  line-height: 150%;
}

#lastlink{
  display: block;
  text-align: center;
  margin-top: 0px;
  border: 1px solid black;
  width: 9%;
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 20px;
}

#lastlink:hover{
  background-color: white;
  color: black;
}

.resourcesMain{
  width: auto;
  display: block;
  overflow: hidden;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
}

.column3 {
  float: left;
  width: 30%;
  padding: 10px;
  margin: 5px;
}

.row3:after {
  content: "";
  display: table;
  clear: both;
}

.column3 a{
  text-decoration: none;
  color: black;
  text-align: center;
}

#ppflyer{
  width: 100%;
}

.column3 p{
  overflow: hidden;
  border: 2px solid black;
  width: 30%;
  margin: auto;
  font-size: 20px;
  padding: 2%;
}

.column3 p:hover{
  background-color: black;
  border: 2px solid white;
  color: white;
}

.resources_section{
  display: block;
  padding-bottom: 2%;
  margin-bottom: 5%;
  border-bottom: 0.5px solid grey;
}

.organization_links{
  margin-top: 2%;
  margin-bottom: 2%;
}

.organization_logo{
  width: 20%;
  padding: 2%;
}

.resourcesSection3 ul{
    background-color: blue;
}

.resourcesSection3 li{
  list-style-position: inside;
  color: white;
}

.updatesMain{
  width: auto;
  display: block;
  overflow: hidden;
}

.updates_section{
  width: auto;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
}

.updates_section a{
  text-decoration: none;
  color: white;

}

.updates_section p{
  background-color: black;
  /* margin: auto; */
  width: 10%;
  text-align: center;
  margin-top: 2%;
  padding: 0.5%;
}

.updatesSection1{
  background-color: #47a3a4;
}

.updatesSection2{
  background-color: #aaaaaa;
}

.updatesSection3{
  background-color: #41497d
}

.updatesSection3 h1{
  color: #e5c9a5;
}

.updatesSection3 h3{
  margin-top: 2%;
  padding-top: 2%;
  font-size: 20px
}

@media screen and (max-width: 800px) {
  body{
    margin: 0;
  }

  header{
    display: block;
    width: 100%;
  }
  .nav{
    display: block;
    width: 100%;
  }

}

/* resize window - nav bar under full title screen */
@media screen and (max-width: 400px) {
  html{
    margin: 0;
  }

  body{
    margin: 0;

  }
  header{
    display: block;
    width: 100%;
  }
  .nav{
    display: block;
    width: 95%;
    padding: 0;
  }
  .nav li{
    width: 85%;
    font-size: 20px;
    height: 30px;
  }


}

/* full desktop */
